body{
  background:#000;
  color:#00FF00;
  font-family: "Courier New", Consolas, monospace;
  margin:0;
}

/* Área principal */

.container-box{
  padding:20px;
  max-width:1200px;
  margin:auto;
  border:2px solid #00FF00;
}

/* Título */

h1{
  text-align:center;
  font-weight:normal;
  color:#00FF00;
  margin-bottom:20px;
}

/* Tabela estilo terminal */

table{
  border-collapse:collapse;
  width:100%;
}

td{
  border:1px solid #00FF00;
  padding:10px;
  vertical-align:top;
}

/* Iframe */

.preview{
  width:100%;
  height:260px;
  border:1px solid #00FF00;
  margin-top:8px;
  background:#000;
}

/* Botão estilo terminal */

.open-btn{
  margin-top:8px;
  width:100%;
  background:#000;
  color:#00FF00;
  border:1px solid #00FF00;
}

.open-btn:hover{
  background:#00FF00;
  color:#000;
}

/* Rodapé */

footer{
  border-top:2px solid #00FF00;
  margin-top:20px;
  padding:15px;
  text-align:left;
}

footer a{
  color:#00FF00;
  text-decoration:none;
}

footer a:hover{
  text-decoration:underline;
}


